# Python
__pycache__/
*.py[cod]

# Jupyter
**/.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/

# VS Code
.vscode/

# IntelliJ / IDEA
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
analisis_datos/api/.env

# Node
frontend/node_modules/

