# ------------------------------------------------------------------
# Modelo de Machine Learning
# ------------------------------------------------------------------
MODEL_SOURCE=local
MODEL_PATH=../models/modelo_iee_gradient_boosting.pkl
MODEL_BUCKET_URL=


#MODEL_SOURCE=oci
#MODEL_PATH=/opt/energiai/models/modelo_iee_gradient_boosting.pkl
#MODEL_BUCKET_URL=https://objectstorage...